runcmd:
  - fallocate -l 4G /swapfile
  - chmod 600 /swapfile
  - mkswap /swapfile
  - swapon /swapfile
  -
  - echo '/swapfile none swap sw 0 0' | tee -a /etc/fstab

  - sysctl vm.swappiness=10
  - echo 'vm.swappiness=10' | tee -a /etc/sysctl.conf