version: "3.9"

services:
  db:
    build: ./db
    container_name: mestostat_db
    restart: always
    ports:
        - "5432:5432"
    deploy:
      resources:
        limits:
          memory: 1024M
        reservations:
          memory: 256M
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: mestostat
    volumes:
      - ./db/data:/var/lib/postgresql/data
      - ./db/init:/docker-entrypoint-initdb.d
    networks:
      - backend

  data:
    build:
      context: ./data
      args:
        DB_HOST: db
        DB_PORT: 5432
        DB_NAME: mestostat
        DB_USER: ${DB_USER}
        DB_PASS: ${DB_PASS}
    container_name: mestostat_data
    restart: on-failure
    volumes:
      - ./data/raw:/app/data/raw
    deploy:
      resources:
        limits:
          memory: 1500M
    depends_on:
      - db
    networks:
      - backend
  
  api:
    build: ./api
    container_name: mestostat_api
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 1024M
        reservations:
          memory: 256M
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_NAME: mestostat
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
      ASPNETCORE_ENVIRONMENT: ${ASPNETCORE_ENVIRONMENT}
      FRONTEND_URL: ${FRONTEND_URL}
    ports:
      - "8080:8080"
    networks:
      - backend
      - frontend
  
  web:
    build:
        context: ./web
        args:
          NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
          INTERNAL_API_URL: "http://api:8080"
    container_name: mestostat_web
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 512M
    depends_on:
      - api
    ports:
      - "3000:3000"
    networks:
      - frontend

networks:
  backend:
  frontend: