.recharts-cartesian-grid-horizontal line,
.recharts-cartesian-grid-vertical line {
    stroke: #29384c !important;
    stroke-opacity: 0.8;
    stroke-dasharray: 4 4;
}

.recharts-text.recharts-cartesian-axis-tick-value {
    fill: #889bb1 !important;
    font-size: 11px;
}

.recharts-cartesian-axis-line {
    stroke: transparent !important;
}

.recharts-tooltip-cursor {
    stroke: #ffffff !important;
    stroke-dasharray: 4 4;
}

.chart div {
    border: none !important;
}