.recharts-cartesian-grid-horizontal line,
.recharts-cartesian-grid-vertical line {
    stroke: #1e293b !important;
    stroke-opacity: 0.5;
}

.recharts-text.recharts-cartesian-axis-tick-value {
    fill: #64748b !important;
    font-size: 12px;
}

.recharts-cartesian-axis-line {
    stroke: transparent !important;
}

.recharts-tooltip-cursor {
    stroke: #475569 !important;
    stroke-dasharray: 4 4;
}